body{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.nav-link {
    font-size: 10px;
}
.cart {
    font-size: 15px;
}
.fa {
    padding: 5px;
}
.navbar {
    background-color: #522D80;
    font-size: 14px;
}
.home {
    background: url(../img/chalk.jpg) no-repeat;
     min-height: 300px;
     background-size: cover;
     background-attachment: fixed;
     color: #fff;
}

.home img {
    max-height: 500px;
    width: 100%;
}
.title{
    font-size: 49px;
    font-weight: 700;
    padding-top: 30px;
}
.home h4 {
    font-weight: 400;
}
.card {
    width: 90%;
}
.card img {
    vertical-align: middle;
    border-style: none;
    height: 160px;
}
#courses h5, h6{
    font-size: 12.6px;
}
#courses p {
    font-weight: 300;
    font-size: 20px;
}
#courses span {
    font-size: 12.6px;
}
.price {
    font-size: 25px;
}
.addCart {
    background: #522D80;
    border: #522D80 1px solid;
}
.addCart:hover {
    background: #311b4d;
}
.view {
    background: transparent;
    color: #522D80;
    border: #522D80 1px solid;
}
.view:hover {
    background: white;
    color: #522d80;
}
.page-footer {
    font-size: 12.6px;
}
.logo {
    border-radius: 1px;
    height: 65px;
    width: 170px;
}
.form {
    width: 40%;
    height: 60%;
}
.form .btn {
    color: #fff;
    background-color: #522D80;
    border-radius: 40px;
}
.form-control {
    border-radius: 40px;
    font-size: 12px;
    border: 1px solid #522D80;
}